*
!package.json
!package-lock.json
!Dockerfile
!index.html
!vite.config.js
!styles.css
!user.css
!src/
!src/**
!shared/
!shared/**
!backend/
!backend/package.json
!backend/package-lock.json
!backend/src/
!backend/src/**
!backend/scripts/
!backend/scripts/**
